@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


body{
  background-color: #efedce;
  /* font */
  margin:0;
}

.nav-link{
  font-family: 'Patrick Hand', cursive;
}

.about{
  font-size: 19px;
  font-weight: 300;
}


span {
  text-align: center;
  font-weight: bold;
  text-align: center;
  font-size: 45 px
}

body {
  font-family: Montserrat, sans-serif;
}
.logo {
  width: 48px;
  height: 48px;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

.home-text{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.information h1{
  font-family: 'Croissant One', cursive;
  color: #0a5d61;
  font-weight: bold;
  font-size: 59px;

}
.information h2{
  text-align: center;
  color: #494b2b;
  font-family: 'Special Elite', cursive;
}

.information h3{
  font-size: 29px;
  margin-left: 5%;
  font-family: 'Special Elite', cursive;
}

#hobbies h1{
  font-family: 'Croissant One', cursive;
  color: #0a5d61;
  font-weight: bold;
  font-size: 59px;
}
.hobbies-card h3{
  font-family: 'Kaushan Script', cursive;
}

.hobbies-card p{
  font-family: 'Handlee', cursive;  
}
.about a{
  color:#0a5d61;
}

.code {
  color: white;
}

.validator{
  color: white;
}

.class p{
  text-align: right;
}
.icons{
  margin:95px;
}
.socials{
  text-align: center;
  padding-bottom: 45px;
}

#contact h1{
  font-family: 'Croissant One', cursive;
  color: #0a5d61;
  font-weight: bold;
  font-size: 59px;
}

#contact p{
  font-family: 'Special Elite', cursive;
}

.pic-container{
  display:flex;
  align-items: cneter;
}

.hobbies-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
  background-color: bisque;
  text-align: center;
  
}

.hobbies-container {
  display: flex;
  justify-content: space-around;

}


.hobbies-image {
  margin-top: 25px;
  width: 250px;
  border-radius: 25px;
}

h1{
  text-align: center;

}
.social-icons p{
  align-items:center;
}

footer h2{
  text-align : center;
}
